.App-header {
    position: relative;
    padding-bottom: 200px;
}

.App-header-line {
    height: 61px;
    background-color: #7ABCAC;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.App-title-container {
    position: absolute;
    width: 580px;
    margin: 0 auto;
    border: 3px solid black;
    text-align: center;
    padding: 30px;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

.App-person-title {
    margin: 20px;
    font-size: 35px;
}

.App-person-prof {
    background-color: black;
    color: white;
    width: 240px;
    margin: 0 auto;
}