.App-job-title-container {
    text-align: center;
    margin: 20px 0;
  }
  
.App-job-company {
    margin: 5px 0;
}
  
.App-experience-card {
    padding: 20px;
    margin-top: 20px;
}
  
.App-experience-card:first-child {
    border-right: 4px solid silver;
}
  
.App-experience-card:last-child {
    border-left: 4px solid silver;
}
  
.App-occupation {
    margin: 20px;
}  