* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    width: 1080px;
    margin: 0 auto;
}

.App-links-about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}

.line {
    height: 1px;
    background-color: silver;
    position: relative;
    margin: 10px 0;
}

.line-on {
    top: 50%;
    transform: translate(0, -50%);
    height: 10px;
    background-color: #7ABCAC;
    position: absolute;
    width: 100px;
}

h4 {
    font-size: 20px;
}

.App-about-text {
    margin: 30px 0;
}

.App-links-ul>div>a {
    margin: 5px 0;
    font-weight: bold;
}

.App-links-ul>div>a:hover {
    color: orange;
    cursor: pointer;
}

.App-skills-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 30px 0;
}

.App-education {
    width: 350px;
}

.App-educ-inner-text {
    font-weight: bold;
    margin: 20px 0;
}

.line-educ {
    width: 60%;
    height: 1px;
    background-color: silver;
}

.App-skills {
    margin-top: 30px;
}

.App-footer-title {
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 15px 0;
}

.App-contacts-link {
    text-decoration: none;
    color: black;
}

.App-contacts-link:hover {
    color: #7ABCAC;
}