.content-box {
    margin: 30px 0;
  }

.App-experience-container {
    border-bottom: 1px solid silver;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.App-links-ul {
    margin: 30px 0;
}

